<!-- Navbar & Hero Start -->
<nav
	class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0"
	xmlns:th="http://www.thymeleaf.org">
	<a th:href="@{/home/index}" class="navbar-brand p-0">
		<h1 class="text-primary m-0">
			<i class="fa fa-utensils me-3"></i>BIG 5S RESTAURANT
		</h1>
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
		data-bs-target="#navbarCollapse">
		<span class="fa fa-bars"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<div class="navbar-nav ms-auto py-0 pe-4">
			<a th:href="@{/about}" class="nav-item nav-link">Về chúng tôi</a> <a
				th:href="@{/menu}" class="nav-item nav-link">Menu</a> <a
				th:href="@{/table}" class="nav-item nav-link">Bàn ăn</a> <a
				th:href="@{/contact}" class="nav-item nav-link">Liên hệ</a> <a
				th:href="@{/news}" class="nav-item nav-link">Tin tức</a>
		</div>
		<th:block th:unless="${#request.remoteUser}">
			<a class="btn btn-primary py-2 px-4"
				th:href="@{/security/login/form}">Sign In</a>
		</th:block>
		<div class="d-flex align-items-center">
			<th:block th:if="${#request.remoteUser}">
				<img class="img-fluid flex-shrink-0 rounded-circle"
					th:src="@{|/assets/images/${USER.anh}|}"
					style="width: 50px; height: 50px;">
				<div class="ps-3">
					<h5 class="text-white">[[${USER.hoTen}]]</h5>
					<div class="nav-item dropdown">
						<a th:href="@{#}" class="nav-link text-center dropdown-toggle"
							data-bs-toggle="dropdown">[[${USER.vaitro.tenVT}]]</a>
						<div class="dropdown-menu m-0">
							<a th:href="@{/admin}" class="dropdown-item"><i
								class="fas fa-user-cog me-1"></i></i> Admin</a> <a th:href="@{/donhang}"
								class="dropdown-item"><i class="fas fa-shopping-cart me-1"></i></i>
								Đơn hàng của bạn </a> <a th:href="@{/pay}" class="dropdown-item"><i
								class="fa fa-solid fa-money-check me-1"></i> Thanh toán (1)</a> <a
								href="#" class="dropdown-item"><i class="fas fa-key me-1"></i></i>
								Đổi mật khẩu</a> <a href="#" class="dropdown-item"
								data-bs-toggle="modal" data-bs-target="#updateModal"><i
								class="fa fa-solid fa-retweet me-1"></i> Cập nhật thông tin</a> <a
								th:href="@{/security/logoff}" class="dropdown-item"><i
								class="fa fa-solid fa-arrow-right me-1"></i> Đăng xuất</a>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>
</nav>
<!-- Navbar & Hero End -->