<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout :: dynamic(~{::main})}">

<body>
    <main>
        <div class="container-xxl py-5 bg-dark hero-header mb-5">
            <div class="container text-center my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Tin tức</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">News</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- News Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Tin tức</h5>
                    <h1 class="mb-5">Tất cả tin tức về nhà hàng chúng tôi !</h1>
                </div>

                <div class="row pay bg-light mt-3 g-4">
                    <div class="col-3">
                        <div class="img-area">
                            <img src="/assets/images/home_2.jpg" width="100%" class="shadow-lg">
                        </div>
                    </div>
                    <div class="col-9">
                        <h2 class="pb-8">Quán ăn Ngon - Bổ - Rẽ
                            tại <span style="color: #e53f29;">Đà Nẵng.</span></h2>
                        <p>Với vị trí ngay trung tâm, thuận tiện di chuyển và đội ngũ nhân viên chuyên nghiệp , chúng
                            tôi tự hào là nơi cung cấp những bữa ăn với đầy đủ tiêu chí : riêng tư, gần gũi , menu món
                            ăn chất lượng , không gian thoáng mát không để bạn bỏ qua bất kỳ cảm xúc nào của mình!</p>
                    </div>
                </div>

                <div class="row pay bg-light mt-3 g-4">
                    <div class="col-3">
                        <div class="img-area">
                            <img src="/assets/images/home_2.jpg" width="100%" class="shadow-lg">
                        </div>
                    </div>
                    <div class="col-9">
                        <h2 class="pb-8">Quán ăn Ngon - Bổ - Rẽ
                            tại <span style="color: #e53f29;">Đà Nẵng.</span></h2>
                        <p>Với vị trí ngay trung tâm, thuận tiện di chuyển và đội ngũ nhân viên chuyên nghiệp , chúng
                            tôi tự hào là nơi cung cấp những bữa ăn với đầy đủ tiêu chí : riêng tư, gần gũi , menu món
                            ăn chất lượng , không gian thoáng mát không để bạn bỏ qua bất kỳ cảm xúc nào của mình!</p>
                    </div>
                </div>

                <div class="row pay bg-light mt-3 g-4">
                    <div class="col-3">
                        <div class="img-area">
                            <img src="/assets/images/home_2.jpg" width="100%" class="shadow-lg">
                        </div>
                    </div>
                    <div class="col-9">
                        <h2 class="pb-8">Quán ăn Ngon - Bổ - Rẽ
                            tại <span style="color: #e53f29;">Đà Nẵng.</span></h2>
                        <p>Với vị trí ngay trung tâm, thuận tiện di chuyển và đội ngũ nhân viên chuyên nghiệp , chúng
                            tôi tự hào là nơi cung cấp những bữa ăn với đầy đủ tiêu chí : riêng tư, gần gũi , menu món
                            ăn chất lượng , không gian thoáng mát không để bạn bỏ qua bất kỳ cảm xúc nào của mình!</p>
                    </div>
                </div>

                <div class="row pay bg-light mt-3 g-4">
                    <div class="col-3">
                        <div class="img-area">
                            <img src="/assets/images/home_2.jpg" width="100%" class="shadow-lg">
                        </div>
                    </div>
                    <div class="col-9">
                        <h2 class="pb-8">Quán ăn Ngon - Bổ - Rẽ
                            tại <span style="color: #e53f29;">Đà Nẵng.</span></h2>
                        <p>Với vị trí ngay trung tâm, thuận tiện di chuyển và đội ngũ nhân viên chuyên nghiệp , chúng
                            tôi tự hào là nơi cung cấp những bữa ăn với đầy đủ tiêu chí : riêng tư, gần gũi , menu món
                            ăn chất lượng , không gian thoáng mát không để bạn bỏ qua bất kỳ cảm xúc nào của mình!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- News End -->
    </main>
</body>

</html>