<div class="row">
	<!-- basic form -->
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="card">
			<div class="card-body">
				<form action="#" id="basicform" data-parsley-validate="">
					<div class="form-group">
						<h4>Mã danh mục</h4>
						<input type="text" ng-model="form.maDM"
							placeholder="Nhập mã danh mục" autocomplete="off" class="form-control">
					</div>
					<div class="form-group">
						<h4>Tên dang mục</h4>
						<input type="text" ng-model="form.tenDM"
							placeholder="Nhập tên danh mục" autocomplete="off" class="form-control">
					</div>
				</form>
			</div>
		</div>
	</div>

	<!---->

	<div class="form-group row text-right">
		<div class="col col-sm-12 col-lg-12">
			<button type="submit" class="btn btn-space btn-primary">Xóa danh mục</button>
			<button class="btn btn-space btn-secondary">Lưu</button>
		</div>
	</div>

	<!-- end basic tabs  -->
</div>